@media print{

/*---init---*/

#print-page-content{ height:296.5px; }
#print-page-footer{ height:125px; }

.print-page{ width:auto; background:none; padding:27px 30px 0 40px; box-sizing:initial; }

/*---print-page----*/

.print-page h2{ font-size:24px; }

.print-page, 
.print-page th, 
.print-page td, 
.print-page h5{ font:11.5px/1.5em Arial, serif; }

.print-page th, 
.print-page td{ padding:5px 0; }
	
.print-page *{ margin-top:0; }
.print-page h1, 
.print-page h2, 
.print-page h3, 
.print-page h4, 
.print-page h5, 
.print-page h6, 
.print-page p, 
.print-page ul, 
.print-page ol, 
.print-page dl, 
.print-page blockquote{
	margin:0 0 5px;
}

.print-page .box{ border:0 none; padding:7.7px 10px; }
.print-page .box.shade{ padding:20px 10px; }
.print-page .box-sm{ padding:0; }
.print-page .key{ visibility:hidden; }
.print-page .key-fix{ width:60px; }

.print-page #box-content{ height:168px; }
.print-page #box-content td{ padding:5px 10px; }


/*---start debug---*/
/*table, tr, td, th{ border:#222 solid 1px; }
.box{ border:#222 solid 1px; }*/
/*---end debug---*/

}

